body {
    background-color: #efeee7;
    font: Georgia,"Times New Roman",Times,serif;
    color: #333333;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

/* class */
.container {
    width: 1024px;
    margin: 0 auto;
}

/* id */
#main-bio, #contact-info, #bio-image {
    float:left;
}

#main-bio {
    width: 70%;
}

#bio-image {
    width:200px;
    margin: 10px;
    alt: "Testing";
}

#contact-info {
    width: 30%;
}

header {
    background-color: #333333;
}

h1 {
    color: #eee;
    font-size: 28px;
}

h2 {
    font-size: 24px;
}

a {
    color: #d21034
}


/*  
* The background color is `#333333`.
  * `h1`
    * The font color is `#eee`.
    * The font size is `28px`.
    * Look at the example on the screen, and eyeball the padding and/or margins and positioning of the text.
  * `h2`
    * The font size is `24px`
  * Make the container have a width of 1,024 pixels and center it. You do this using `margin: 0 auto;`.
  * Make `#main-bio`, `#contact-info`, `#bio-image` all `float: left`.
  * Make the `#bio-image` have a width of 200 pixels.
  * Be sure to include `alt` text in all images
  * `#main-bio` should have a width of `70%`.
    * Add margins to the image, so there is distance between it and the bio text.
  * `#contact-info` should have a width of `30%`.
  * Adjust the line height, so it is 1.5 times the size of the font.
  * Make the link color `#d21034`.

* If you forgot how to write the CSS properties, you can reference all CSS properties here: <https://developer.mozilla.org/en-US/docs/Web/CSS/Reference>.

* BONUS:

  * Stage, commit, and push this new file to Github.

*/
